:root{
    --red: rgb(112, 24, 24);
    --beige: rgb(148, 148, 125);

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	max-width: 100%;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

header{
	background-color: var(--beige);
	width: 1920px;
	padding: 40px 0px 50px 0px;
	display: flex;
	justify-content: center;
	align-content: center;
	column-gap: 488px;
}
.profile-picture{
    width: 125px;
    border-radius: 20px;
}
.headshot{
    position: relative;
    float: left;
    margin-left: -350px;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-left: 43px;
}

.buttons{
	color: #FFFFFF;
	text-transform:uppercase;
}
.name-button{
    color: var(--red) ;
    font-weight: 900;
    text-decoration: line-through;
}
.contact-button{
	color: var(--red);
	background-color: #FFFFFF;
	border-radius: 28px;
	padding: 18px 36px 18px 36px;
    font-weight: 900;
}

main{
    margin-top: 200px;
}

.main-image{
    width: 1000px;
}

.main-image:hover{
   filter: grayscale(100%) blur(3px);
}

.main-container{
    margin-left: 400px;
}

h1{
    margin-bottom:10px;
    color: var(--red);
    text-decoration: line-through;
    text-indent: 10px;
}

.images-container{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 100px;
}

h2{
    color: var(--red);
    margin-left: -100px;
    background-color: var(--beige)
}

.small-img{
    border-radius: 20px;
}

footer{
    background-color: var(--beige);
    margin-top: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
	align-content: center;
    column-gap: 300px;
}

.contact-info{
    text-decoration: underline; 
    font-size: larger;   
    color: var(--red);
    margin-top: 100px;
}